@import '../styles/variables.scss';

@font-face {
  font-family: 'MyCustomFont';
  src: url('~../../public/fonts/HelveticaNeue-Medium.otf') format('otf'),
  url('~../../public/fonts/HelveticaNeue-Bold.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'MyCustomFont', sans-serif;
    background-color: $background-color;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}